/*----------------HEADER SECTION------------------*/
@media all and (max-width: 910px) {

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }

    .selector {
        display: none;
    }
    
    .logo img {
        height: 6em;
        width: 6em;
    }
}
@media all and (min-width: 910px) {
    .custom-dropdown {
        display: none;
    }
    .dropdown-button {
        display: block;
    }
}
/*------------------FOOTER SECTION----------------*/
@media all and (max-width: 910px) {
    .footer-logo {
        display: none;
    }
}
